/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Arial,
  "Microsoft YaHei", "΢���ź�",
  STXihei, "����ϸ��",
  serif;
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  font-weight: bold;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.week-header {
  margin: 15px;
}

.week-header h3 {
  font-size: 20px;
  font-weight: bold;
}

.week-context {
  margin-left: 50px;
}

.week-context h5 {
  font-weight: bold;
}

.week-context img {
  margin: auto;
}

.ref-item {
  margin: 24px;
}

.due-day {
   color: darkred;
}

.grade-A {
  color: green;
}

.grade-B {
  color: #46b8da;
}

.grade-C {
  color: orange;
}

.grade-F {
  color: red;
}
.panel{
	margin:0px;
}
.tip{
  width: 30em;
  height: auto;
  position: fixed;
  z-index: 2008;
  left: 10em;
  top: 10em;
}